extends ../../layouts/default.pug
include ../../mixins/box-head.pug 

block main 
    .container.my-3 
        .row 
            .col-12 
                +box-head(pageTitle)
        
        .row 
            each song in songs
                .col-6.mb-3 
                    div(class='song-item')
                        div(class='inner-image')
                            a(href=`/songs/detail/${song.infoSong.slug}`)
                                img(src=song.infoSong.avatar)
                        div(class='inner-content')
                            div(class='inner-title')
                                a(href=`/songs/detail/${song.infoSong.slug}`) #{song.infoSong.title}
                            div(class='inner-singer') #{song.infoSinger.fullName} 
                            div(class='inner-heart active' button-favorite=song.id) Yêu thích 
                            div(class='inner-time') 20/10/2023
                            