extends ../../layouts/default.pug 
include ../../mixins/box-head.pug
block main 
    .container.my-3 
        .row 
            .col-12 
                +box-head(pageTitle)

        .row 
            each song in songs 
                .col-6.mb-3 
                    div(class='song-item')
                        div(class='inner-image')
                            a(href=`/songs/detail/${song.slug}`) 
                                img(src=song.avatar)
                        div(class='inner-content')
                            div(class='inner-title')
                                a(href=`/songs/detail/${song.slug}`) #{song.title}
                            div(class='inner-singer') #{song.infoSinger.fullName} 
                            div 
                            div(class='inner-like') #{song.like} 
                            div(class='inner-like') Hôm nay

                